<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CanoPlaz</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- CSS pure -->
    <link rel="stylesheet" href="../../assets/styles/style.css" />

    <!-- Boostrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <link rel="icon" href="../../assets/img/logotipo.png" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="col">
          <a class="nav-link active" href="../views/tindaPrincipal.html">
            <img
              id="logotipo"
              src="../../assets/img/logotipo.png"
              alt="logotipo"
            />
          </a>
        </div>
        <div class="col">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../views/tindaPrincipal.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/coleccion.html"
                  >Colecciones</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/tiendas.html">Tiendas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  ><i class="bi bi-person-circle m-2"></i>Iniciar sesión</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link"><i class="bi bi-cart3"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <div class="col-6 text-center my-auto">
          <h2>QUIENES SOMOS</h2>
        </div>
        <div class="col-6">
          <p>
            Somos un sitio de joyas online, donde encontrarás las mejores marcas
            de Joyas y accesorios.
          </p>

          <p>Te contamos algunas cosas sobre nosotros:</p>

          <li class="mt-2">
            En nuestra tienda podrás encontrar más de 100.000 productos de
            marcas reconocidas a nivel local y mundial.
          </li>
          <li class="mt-2">
            Realizamos entregas a más de 1.100 ciudades y municipios de
            Colombia.
          </li>
          <li class="mt-2">
            Tu costo de envío es GRATIS*, si tu pedido es por un valor superior
            a $179.900 sin importar la ciudad de entrega o si son productos
            vendidos y entregados por Dafiti o por tiendas asociadas.
          </li>
          <li class="mt-2">
            ¡Compra tranquilo! si el producto no es lo que esperabas, no te
            quedó o simplemente quieres probar otro que te gustó mucho más,
            tenemos 90 DÍAS de cambios y devoluciones SIN COSTO.
          </li>
          <li class="mt-2">
            Manejamos múltiples medios de pago para ti. Anímate, puedes pagar
            con tarjetas de crédito o débito PSE. Si lo prefieres puedes hacer
            tu pedido y pagarlo CONTRAENTREGA, o si tienes un punto Baloto
            puedes realizar allí tu pago. Fácil ¿Verdad?
          </li>
          <li class="mt-2">
            Contamos con servicios de entrega especiales para que tu pedido
            llegue al siguiente día o el mismo día, dependiendo de la zona en la
            cual vives.
          </li>
        </div>
      </div>
    </div>
    <hr />
  </body>
</html>
