<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colección</title>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

      <!-- Boostrap Icons -->
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../assets/styles/style.css">

  </head>

<body>



    <!-- Menú de Navegación. -->

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid ">
            <div class="col ">
                <a class="nav-link active" href="#">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col ">
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/tindaPrincipal.html">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../views/coleccion.html">Colecciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../views/tiendas.html">Tiendas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">Acerca de</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link"><i class="bi bi-person-circle m-2"></i>Iniciar sesión</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><i class="bi bi-cart3"></i></a>
                      </li>
                    </ul>
                </div>
            </div> 
        </div>
    </nav>

    <!-- ////////////////////////////////////////////////////////////////////////// -->
        
      
  <div class="container">
    <div id = "fila" class="row row-cols-1 row-cols-md-3 g-5 mt-4 ">
      
    </div>
</div>
  
  <script src="../../src/controllers/arrProductos.js"></script>
    <script src="../controllers/detallesCompra.js"></script>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>