<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactanos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../../assets/styles/style.css">

  </head>
  <body>

    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
        <div class="container-fluid ">
            <div class="col ">
                <a class="nav-link active" href="#">
                    <img src="..." alt="...">
                </a>
            </div>
            <div class="col ">
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/tindaPrincipal.html">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../views/coleccion.html">Colecciones</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../views/tiendas.html">Tiendas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link">Acerca de</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link"><i class="bi bi-person-circle m-2"></i>Iniciar sesión</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"><i class="bi bi-cart3"></i></a>
                      </li>
                    </ul>
                </div>
            </div> 
        </div>
    </nav>



    <div class="container">
      <div class="row">
        <div class="col text-center mt-4">
          <h2>DÓNDE ESTAMOS</h2>
          <p>
            Nuestra colección está disponible en nuestra tienda y taller de
            Madrid, y en nuestra sala de exposición de Barcelona.
          </p>
        </div>
      </div>
    </div>
    <hr />

    <div class="container">
      <div class="row ">
        <div class="col-6 text-center">
          <a href="">Bijou Madrid</a>
            <p>Av. Los Rosales 122</p>
            <p>28010 Madrid</p>
        </div>


        <div class="col-6 text-center">
            <a href="">Sala de exposición de Bijou</a>
              <p>Av. Diagonal 101</p>
              <p>08005 Barcelona</p>
          </div>
      </div>
    </div>

         
        
      

    Sala de exposición de Bijou Av. Diagonal 101 08005 Barcelona DISTRIBUIDORES
    Joyas Fantasía CDMX, México Esmeralda Negra Bogotá, Colombia El Sueño de
    Pandora Buenos Aires, Argentina Joyería Premier Montevideo, Urugyay El Rubí
    Rojo Lima, Perú Bijou Chic Paris, Francia
  </body>
</html>
