<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CanoPlaz</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- CSS pure -->
    <link rel="stylesheet" href="../../assets/styles/style.css" />

    <!-- Boostrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <link rel="icon" href="../../assets/img/logotipo.png" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="col">
          <a class="nav-link active" href="../views/tindaPrincipal.html">
            <img
              id="logotipo"
              src="../../assets/img/logotipo.png"
              alt="logotipo"
            />
          </a>
        </div>
        <div class="col">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="../views/tindaPrincipal.html"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/coleccion.html"
                  >Colecciones</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/tiendas.html">Tiendas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/acercaDe.html">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/login.html"
                  ><i class="bi bi-person-circle m-2"></i>Iniciar sesión</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link"><i class="bi bi-cart3"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col text-center mt-5">
          <h2>DÓNDE ESTAMOS</h2>
          <p>
            Nuestra colección está disponible en nuestra tienda y taller de
            Madrid, y en nuestra sala de exposición de Barcelona.
          </p>
        </div>
      </div>
    </div>
    <hr />

    <div class="container">
      <div class="row">
        <div class="col-6 text-center">
          <a href="">Bijou Madrid</a>
          <p>Av. Los Rosales 122</p>
          <p>28010 Madrid</p>
        </div>

        <div class="col-6 text-center">
          <a href="">Sala de exposición de Bijou</a>
          <p>Av. Diagonal 101</p>
          <p>08005 Barcelona</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-5">
          <h2>DISTRIBUIDORES</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-12 text-center mt-4">
        <a href="">Joyas Fantasía</a>
        <p>CDMX, México</p>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="">Esmeralda Negra</a>
        <p>Bogotá, Colombia</p>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="">El Sueño de Pandora</a>
        <p>Buenos Aires, Argentina</p>
      </div>
      <div class="col-12 text-center mt-4">
        <a href="">Joyería Premier</a>
        <p>Montevideo, Uruguay</p>
      </div>
  
      <div class="col-12 text-center mt-4">
        <a href=""> El Rubí Rojo</a>
        <p>Lima, Perú</p>
      </div>
      <div class="col-12 text-center mt-4">
        <a href=""> Bijou Chic</a>
        <p>Paris, Francia</p>
      </div>
    </div>
  </body>
</html>
