@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}

#logotipo{
    width: 70px;
    height: 70px;
    margin-left: 100px;
}